body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #942222;
    height: 10px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links a{
color:white;
text-decoration: none;
font-size: 23px;
}

h1{
  color: white;
  background-color: #DA6304;
  text-align: center;
  width: 17vw;
  height: 5vh;
  margin: auto;
  margin-bottom: 2vh;
  border-radius: 0 0 12px 12px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

p{
  text-align: center;
  font-size: 2rem;
}

#img-product{
  border-radius: 20px;
  height: 50vh;
  width: 100%;
   box-shadow: 2px 2px 27px #942222;
}

.home{
  width: 80%;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.product-1{
  display: flex;
  gap: 6%;
  position: relative;
  justify-content: space-around;
  margin-top: 5%;  
}

#punchline{
  color: black;
  font-size: 1.5rem;
}


.product-2{
  display: flex;
  gap: 6%;
  position: relative;
  justify-content: space-around;
  margin-top: 5%;  
}

#text{
  font-size: 2.5rem;
  font-weight: 100;
  color: #DA6304;
  margin-top: 10%;
   box-shadow: 2px 2px 5px rgba(53, 50, 50, 0.3);

}

.home{
  display: flex;
}

.gallery-container {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none;
}


.gallery::-webkit-scrollbar {
  display: none;
}

.gallery img {
  max-width: 100%;
  height: 47vh;
  width: 23vw;
  border-radius: 6px;
  flex-shrink: 0;
  
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.nav.left {
  left: 10px;
}

.nav.right {
  right: 10px;
}
form {
    width: 70%;
    margin: auto;
    background-color:#DA6304;
    border-radius: 25px;
    margin-top: 3%;
    color: white;
    margin-bottom: 10%;
}
.comment {
    width: 60%;
    position: relative;
    left: 15%;
    padding-top: 3%;
}

input {
    width: 90%;
    border-radius: 15px;
    
}

#submit_button {
    background: none;
    width: 50%;
    font-size: 1.5rem;
    border: none;
    padding: 8px;
    background-color: #942222;
    color: white;
    cursor: pointer;
    left: 32%;
    position: relative;
    border-radius: 15px;
    justify-content: center;
    margin-bottom: 2%;

    a{
        text-decoration: none;
    }
}


@media screen and (max-width: 600px) {
  .nav.left {
  left: 20px;
}

.nav.right {
  right: 10px;
}
  
  .gallery img {
    width: 200px;
    height: 400px;
  }
  h1{
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
  }

  .product-1{
  display: block;
  gap: 6%;
  position: relative;
  justify-content: space-around;
  margin-top: 5%;  
}
.product-2{
  display: block;
  flex-direction: row;
  gap: 6%;
  position: relative;
  justify-content: space-around;
  margin-top: 5%;  
}
#punchline{
  font-size: 1rem;
}
#text{
  font-size: 1.5rem;
}



}